@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap");

:root {
  --font-noto-jp: "Noto Sans JP", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-ubuntu-mono: "Ubuntu Mono", monospace;
  --font-size: 18px;
  --font-size-responsibe: 13px;
  --body-bg-color: rgba(242, 242, 242, 1);
}

html {
  box-sizing: border-box;
  font-size: var(--font-size-responsibe);
  font-family: var(--font-noto-jp);
  font-weight: 500;
}

@media only screen and (min-width: 880px) {
  html {
    font-size: var(--font-size);
  }
}

body {
  background-color: var(--body-bg-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-poppins);
}

p {
  font-family: var(--font-ubuntu-mono);
}

button {
  font-family: var(--font-noto-jp);
  border: none;
  display: block;
}